* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

:root {
    font-size: 62.5%;
    font-family: 'Inter', sans-serif;

    --bg-color: #F3F5FC;
    --show-message-bg: #FFFFFF;
    --primary-button-color: #0A3871;
    --secondary-button-color: #F3F5FC;
    
    --primary-text-color: #0A3871;
    --secondary-text-color: #FFFFFF;
    --regular-text-color: #495057;
    --bold-text-color: #343A40;
}

body { 
    background: var(--bg-color);
}


/* Text field */
.content-main {
    display: flex;
    justify-content: space-between;
}

.content-main__container {
    height: 100vh;
    width: 100vw;
}

.text-area > img {
    margin: 3rem 4rem 3rem 4rem;
    vertical-align: top
}

.content-main .text-area textarea {
    margin: 12rem 0 3rem 0;
    padding: 1rem;
    width: 66rem;
    height: 44rem;
    font-size: 3.2rem;

    color: var(--primary-text-color);
    border: none;
    outline: none;
    background: var(--bg-color);
    resize: none;
}

textarea::placeholder {
    font-family: 'Inter', sans-serif;
    font-size: 3.2rem;
    color: var(--primary-text-color);
}

.caution-text {
    display: flex;
    margin-bottom: 1.6rem;
    gap: .8rem;
    align-items: center;
    justify-content: flex-start;
    padding-left: 12.2rem;
}

.caution-text span {
    font-size: 1.2rem;
    color: var(--regular-text-color);
}

.action-buttons {
    display: flex;
    gap: 2.4rem;
    padding-left: 12.2rem;
    text-align: left;
}

.action-buttons button {
    padding: 2.4rem 9rem;
    font-size: 1.6rem;
    border: none;
    border-radius: 2.4rem;
    cursor: pointer;
    width: 32rem;
}

.action-buttons .cryptograph-button {
    background: var(--primary-button-color);
    color: var(--secondary-text-color);
    letter-spacing: .05rem;
}

.action-buttons .decryption-button {
    background: var(--secondary-button-color);
    color: var(--primary-text-color);
    border: 1px solid var(--primary-button-color);
    letter-spacing: .05rem;
}


/* Show message */
.content-main__show-message {
    background: var(--show-message-bg);
    min-width: 40rem;
    min-height: 60rem;
    margin: 3rem;
    border-radius: 3.2rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    box-shadow: 0 2.4rem 3.2rem -.8rem rgba(0, 0, 0, 8%);
}

.content-main__show-message p {
    font-size: 2.4rem;
    line-height: 150%;
    color: var(--regular-text-color);
    text-align: left;
    margin: 0 0 4rem;
    flex: 1;
    display: inline-block;
    width: 33rem;
    max-height: 52rem;
    display: none;
}

.area-show-message h3 {
    text-align: center;
    line-height: 118%;
    font-size: 2.4rem;
    font-weight: bold;
    color: var(--bold-text-color);
    margin: 1.6rem;
}

.area-show-message span {
    display: block;
    line-height: 148%;
    font-size: 1.6rem;
    color: var(--regular-text-color);
    text-align: center;
    margin: 0 5rem;
}

.content-main__show-message button {
    display: none;
    padding: 2.4rem 9rem;
    font-size: 1.6rem;
    border: none;
    width: 31rem;
    border-radius: 2.4rem;
    cursor: pointer;

    background: var(--show-message-bg);
    color: var(--primary-text-color);
    border: 1px solid var(--primary-button-color);
    letter-spacing: .05rem;
}


/* Contact area */
.contact-area{
    margin-top: 3rem;
    padding: 4rem 2rem;
    background: var(--primary-text-color);
}